// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	font-weight: bold;
	font-size: 48px;
	color: #FFF;
}

h2 {
	font-weight: bold;
	font-size: 24 px;
	color: #FFF
}

.show__listing {
	background: #FFCE00;
	border-left: 7px solid white;
	padding: 15px;
	margin: 15px 0;
}

.show__listing li {
	font-size: 20px; 
	line-height: 1.5;
}

.show__listing img {
	border-left: 7px solid white;
	margin: 10px 0;
}

.show__comment {
	background: #FFCE00;
	border-left: 7px solid white;
	margin: 10px 0;
}

.show__comment li {
	border-bottom: 1px solid #FFF;
	padding: 15px;
	font-size: 16px;
}

.show__edit {
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 5px 15px;
}

.comment_form {
	background: #FFCE00;
	border-left: 7px solid white;
	margin: 10px 0;
	padding: 15px;
}

.comment_form_inputs * {
	margin: 5px 0;

}

#save-button {
	background-color: #FFCE00;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 15px;
}

.glyphicon {
	color: #FFF;
	font-size: 16px;
	margin-right: 10px;
}